
<section class="home__section--application" id="application">
  <div class="first_application">
    <h2>Our First Application</h2>
    <p>
      All further financial and business decisions are dependent upon
      completion of the prototype and stress testing. To provide accurate
      thermal efficiency estimations a proof of concept through prototype
      build must be achieved. We have completed drawing of the engine via
      Solid Works. Our current development in the process to build the
      prototype is not getting quotes from machinists to cut prototype
      components.  After our quotes are complete we will begin our first
      round of Seed funding. We will be seeking the support of an Angel
      Investor and or other alternatives to build the prototype and complete
      stress testing.  
    </p>
  </div>
</section>
