<section class="home__section--company" id="company">
  <div class="company__container--description">
    <h2>Our Company</h2> 
    <p>
      Stirling Motors Corporation is a startup company that designs, builds,
      and sells Stirling Engines for use in Liquid Pumping, HVAC,
      Refrigeration, and Electric Generator applications.
    </p>
  </div>
  <div class="company__container--video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rOuVDq6_-TY" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
