<section class="home__section--company" id="company">
  <div class="company__container--description">
      <a name="business"></a> 
    <h2>Our Company</h2> 
    <p>
Stirling Motors Corp. is a green technology start-up that uses a patented design to increase the efficiency and durability of its Stirling cycle motor (StirMoCo) while also decreasing the manufacturing cost of the engine. Liquid pumps, vapor compression, and electrical generation are the primary focus of the product development, especially for combined heat and power (CHP) applications. Flexible fuel, low noise and low emissions, are important features of all Stirling engines, and when combined with our innovations, we will capture a very lucrative market which currently relies on very expensive electricity from the utilities.  
    <p>
The first product release will be a 1.5hp liquid pump that will fire on natural gas and run at approximately 25% thermal efficiency. This will save the average owner about $45 per month in energy costs because natural gas is so inexpensive relative to top tier electrical rates. In addition, the motor/pump can be cooled by the water and provide between 10-degF and 15-degF warmer water depending on the body of water size.     
    <p>
Future product releases will address the liquid pumping and m-CHP market where Stirling engines are already in use, and our innovative technology will enhance the system cost and performance. Other opportunities include residential and small commercial HVAC vapor condensing units.
    <p>
Future short term power plant releases range up to 10hp for more demanding commercial and industrial applications in this space, while longer term development is planned for a scaled up product release focusing on a 40+% thermal efficiency engine for larger CHP and distributed power generation projects. This will be made possible through the use of high temperature ceramic materials, which the StirMoCo engine has been uniquely designed for.
    </p>
  </div>
  <div class="company__container--video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/alXmZzO718E" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
