<section class="home__section home__section--founder" id="founder">
  <a name="founder"></a> 
  <img alt="Alan Holsapple" class="founder__image" src="http://psigns.github.io/stirling_motors/assets/color/Alan2.jpg">
  <div class="founder__wrapper">
    <h2>Our Founder</h2>
    <h3>Alan Holsapple</h3>
    <p class="founder__summary">
      The inventor of the StirMoCo technology is Alan Holsapple.  Mr.
      Holsapple shall also serve as the first CEO of StirMoCo. Alan earned
      a master’s degree in Mechanical Engineering with a focus on heat
      transfer and fluid mechanics at UC Berkeley MSME (1985). He also
      earned a bachelor’s degree in architecture with a specialization in
      energy and structures. He has served as a senior engineer at the
      General Motors Tech Center in Michigan; he held a similar role at
      Solar Turbines (in San Diego), which is a division of Caterpillar.
      More recently in 2001, Mr. Holsapple founded and operates a energy
      upgrade business that serves residential and commercial customers
      throughout southern California.  It is his plan, upon successful
      execution of this financing, to delegate to a full-time manager
      substantially all his operating duties with the energy conservation
      business. 
    </p>
  <div>
</section>
