<section class="home__section home__section--funding" id="funding">
  <h2>Our Funding Needs</h2>
    <a name="funding"></a> 
  <div class="funding">
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Amount (USD)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Project Startup</td>
          <td>$10,000</td>
        </tr>
        <tr>
          <td>Design & Engineering</td>
          <td>$25,000</td>
        </tr>
        <tr>
          <td>Prototype Build</td>
          <td>$100,000</td>
        </tr>
        <tr>
          <td>Capital Equipment</td>
          <td>$34,500</td>
        </tr>
        <tr>
          <td>Testing & Reporting</td>
          <td>$40,000</td>
        </tr>
        <tr>
          <td>General & Administrative</td>
          <td>$70,000</td>
        </tr>
        <tr>
          <td>Interest</td>
          <td>$15,000</td>
        </tr>
        <tr>
          <td class="funding__total">Total Startup Cost</td>
          <td>$294,500</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
