<section class="home__section home__section--invest" id="invest">
  <h2>Become an Investor</h2>
      <a name="invest"></a>
  <h3>Contact us and learn more</h3>
  <form>
    <div class="form__field">
      <label for="name">Name</label>
      <input id="name" type="text"> 
    </div>
    <div class="form__field">
      <label for="email">Email</label>
      <input id="email" type="email"> 
    </div>
    <div class="form__field">
      <label for="phone">Phone</label>
      <input id="phone" type="telephone"> 
    </div>
    <div class="form__field">
      <label for="message">Message</label>
      <textarea id="message"></textarea> 
    </div>
    <div>
      <button type="submit">Send</button>
    </div>
  </form>
</section>
