<section class="landing">
  <div class="landing__wrapper">
    <header>
      <img src= "http://discountsolarsd.com/stirling_motors/SMClogotransparent.png">
    </header>
    <nav class="landing__nav">
      <ul>
        <li class="landing__nav--item"><a href="#">Our Technology</a></li>
        <li class="landing__nav--item"><a href="#">Business</a></li>
        <li class="landing__nav--item"><a href="#">Invest</a></li>
        <li class="landing__nav--item"><a href="#">Inventor</a></li>
      </ul>
    </nav>
  </div>
  <div class="companyDescription">
   <h2>
     Sterling Motor
     Corporation
    </h2>
    <p>
      {{ site.description }}
    </p>
  </div>
</section>
