<section class="landing">
  <div class="landing__wrapper">
    <header>
        <div class="companyDescription">
    <p>
    <br>
    <br>
<img src="http://discountsolarsd.com/stirling_motors/SMClogotransparent.png">
  </div>
        Stirling Motors Corporation is a startup company that designs, builds, and sells Stirling Engines for use in Liquid Pumping, HVAC, Refrigeration, and Electric Generator applications.
    </header>
    <nav class="landing__nav">
      <ul>
        <li class="landing__nav--item"><a href="#company">Company</a></li>
        <li class="landing__nav--item"><a href="#patent">Patent</a></li>
        <li class="landing__nav--item"><a href="#thermodynamics">ThermoDynamics</a></li>
        <li class="landing__nav--item"><a href="#founder">Founder</a></li>
        <li class="landing__nav--item"><a href="#invest">Invest</a></li>  
      </ul>
    </nav>
  </div>
</section>
