<nav class="nav__container">
  <svg baseProfile="full"
       class="nav__icon--toggle nav__icon--open"
       id="hamburger"
       version="1.1"
       viewBox="0 0 200 150"
       xmlns="http://www.w3.org/2000/svg">
    <rect x="0" y="0" width="200" height="35"/>
    <rect x="0" y="57" width="200" height="35"/>
    <rect x="0" y="115" width="200" height="35"/>
  </svg>
  <div class="nav__drawer" id='nav-drawer'>
    <svg baseProfile="full"
         class="nav__icon--toggle nav__icon--close"
         id="drawer-x"
         version="1.1"
         viewBox="0 0 200 200"
         xmlns="http://www.w3.org/2000/svg">
      <line stroke-width="35" x1="10" x2="190" y1="10" y2="190"/>
      <line stroke-width="35" x1="10" x2="190" y1="190" y2="10"/>
    </svg>
    <ul>
      <li>
        <abbr title="Sterling Motors Corporation">
          <a class="nav__link--brand" href="./">SMC</a>
        </abbr>
      </li>
      <li><a href="#technology">Our Technology</a></li>
      <li><a href="#">Placeholder</a></li>
    </ul>
  </div>
</nav>
