<section class="home__section--strategy" id="strategy">
  <h2>Our Startup Strategy</h2>
  <div class="strategy__timeline">
    <p class="timeline__item">
      Raise Startup funds to build Prototype via Angel Investors, Crowdfunder, and SBIR grants
    </p>
    <p class="timeline__item">
      Complete stress testing, field testing and reliability testing
    </p>
    <p class="timeline__item">
      Establish benchmark of performance expectations
    </p>
    <p class="timeline__item">
      Develop marketing team and strategies
    </p>
    <p class="timeline__item">
      Build out assembly and distribution teams and systems
    </p>
    <p class="timeline__item">
      Achieve ISO9002 certification at startup
    </p>
  </div>
</section>
