<section class="technology" id="technology">
  <h2>Our Technology</h2>
  <h3>What is a Stirling Engine?</h3>
  <p>
    Robert Stirling patented this hot air engine with economizer (regenerator)
    in the early 19th century. Over time IC engines, and electric motors have
    displaced nearly all Stirling engine applications. However, due to its
    high efficiency and other attributes, the Stirling is making a comeback.
    {% include engine.svg %}    
  </p>
  <p>
     Our technology is based on our implementation of a gamma-configuration
     stirling engine. (US patent application #13/949795)
     It is a direct replacement for electric motors as a prime mover with
     flexibile fuel options, including:
     <ul class="fuel__list">
       <li>Flexible fuel options</li>
       <li>Natural gas</li>
       <li>Propane</li>
       <li>Gasoline</li>
       <li>Diesel</li>
       <li>Any combustible material (green technology applications)</li>
     </ul>
  </p>
  <h3>Applications</h3>
  <p>
    <ul>
      <li>Water pumping</li>
      <li>Combined heat and power</li>
      <li>Residential and commercial HVAC</li>
      <li>Off-grid HVAC</li>
      <li>Refrigeration</li>
      <li>Electrical generation</li>
      <li>Emergency backup systems</li>
      <li>Liquid pump motors</li>
    </ul>
  </p>
  <h3>Advantages of Stirling Engines</h3>
  <p>
    <ul>
      <li>Energy savings</li>
      <li>Expanded base of applications due to fuel options</li>
      <li>Mobility and flexible use</li>
      <li>Increased thermal efficiency</li>
      <li>Lower manufacturing costs</li>
      <li>Scalability</li>
      <li>Simple, rugged design</li>
    </ul>
  </p>
</section>
