<section class="home__section--technology" id="technology">
  <div class="technology__wrapper--animation">
    <div class="technology__description technology__description--animation">
      <h2>Our Technology</h2>
      <p>
        Robert Stirling patented the first hot air engine with economizer
        (regenerator) in the early 19th century. Over time IC engines,
        and electric motors have displaced nearly all Stirling engine
        applications. However, due to its high efficiency and other
        attributes, the Stirling is making a comeback.
      </p>
      <p>
        Our technology is based on our implementation of a gamma-configuration
        stirling engine. <strong>(US patent application #13/949795)</strong>
      </p>
      <p>
        Our first product will be a 3HP engine for residential and commercial applications.
        Our second release will be a 1.5HP model for small residential and mobile applications.
        The engines will run on natural gas, propane, or gasoline.
        Future plans include 5 and 10 HP models for larger residential and commercial
        applications, and mil-spec versions.
      </p>
    </div>
    <div class="technology__container--animation">
      {% include engine.svg %}
    </div>
  </div>
  <div class="technology__wrapper--details">
    <div class="technology__card">
      <h3>Advantages</h3>
      <ul>
        <li>Energy savings</li>
        <li>Expanded base of applications due to fuel options</li>
        <li>Mobility and flexible use</li>
        <li>Increased thermal efficiency</li>
        <li>Lower manufacturing costs</li>
        <li>Scalability</li>
        <li>Simple, rugged design</li>
      </ul>
    </div>
    <div class="technology__card">
      <h3>Applications</h3>
      <ul>
        <li>Water pumping</li>
        <li>Combined heat and power</li>
        <li>Residential and commercial HVAC</li>
        <li>Off-grid HVAC</li>
        <li>Refrigeration</li>
        <li>Electrical generation</li>
        <li>Emergency backup systems</li>
        <li>Liquid pump motors</li>
      </ul>
    </div>
    <div class="technology__card">
      <h3>Flexible Fuel Options</h3>
      <ul class="fuel__list">
        <li>Natural gas</li>
        <li>Propane</li>
        <li>Gasoline</li>
        <li>Diesel</li>
        <li>Any combustible material (green technology applications)</li>
      </ul>
    </div>
  </div>
</section>
