.home__section--founder {
  @include clearfix();
  background: $white;
  padding: 10rem 5%;
}

.founder__wrapper {

    h2, h3 {
      line-height: 1em;
      text-align: center;
    }

    @media screen and (min-width: $mobile) and (max-width: $tablet) {
      float: none;
      margin: 0 auto;
      width: 60%;
    }

    @media screen and (min-width: $tablet) {
      float: right;
      margin: 0;
      padding: 0;
      width: 47.5%;

      h2 {
        line-height: .75em;      
      }

      h2, h3 {
        text-align: left;
      }
    }
}

.founder__summary {
  max-width: 35em;
  width: 100%;
}

.founder__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
  width: 100%;

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    width: 60%;
  }

  @media screen and (min-width: $tablet) {
    float: left;
    max-width: 33em;
    width: 47.5%;
  }
}
