.technology__wrapper--animation {
  @include clearfix();
  background: $white;
  padding: 10rem 5%;
}

.technology__description--animation {
  width: 100%;

  h2 {
    text-align: center;
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    margin: 0 auto;
    width: 60%;
  }

  @media screen and (min-width: $tablet) {
    float: left;
    margin: 0 auto;
    width: 50%;

    h2 {
      text-align: left;
    }
  }
}

.technology__container--animation {
  width: 100%;

  svg {
    width: 100%;
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    margin: 0 auto;
    margin-top: 2rem;
    width: 75%;
  }

  @media screen and (min-width: $tablet) {
    float: left;
    margin: 0 auto;
    width: 50%;

    svg {
      margin-top: -2rem;
    }
  }
}

.technology__wrapper--details {
  @include clearfix();
  width: 100%;
}

.technology__card {
  color: $white;
  padding: 2.5rem;
  position: relative;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
  width: 100%;

  &::before {
    background: rgba(0, 0, 0, .6);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all $transition-time * 1.5;
    width: 100%;
    z-index: 100;
  }

  &:hover {
    &::before {
      background: rgba(0, 0, 0, .4);
    }
  }

  h3 {
    text-align: center;
  }

  h3, ul, li {
    position: relative;
    z-index: 300;
  }

  &:nth-child(1) {
    background: url('/assets/color/paper.jpg') no-repeat center center;
    background-size: cover;
  }

  &:nth-child(2) {
    background: url('/assets/color/board.jpg') no-repeat center center;
    background-size: cover;
  }
  &:nth-child(3) {
    background: url('/assets/color/electronics.jpg') no-repeat center center;
    background-size: cover;
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    ul {
      margin: 0 auto;
      width: 20em;
    }
  }

  @media screen and (min-width: $tablet) {
    float: left;
    margin: 0 auto;
    min-height: 24rem;
    width: 33.33%;
  }
}

// SVG Animation
$engine-time: 1s;

#cold_air {
  height: 83px;
  animation: cold_air $engine-time infinite;
  animation-timing-function: linear;
}

.crank_arm {
  animation: crank_arm $engine-time infinite;
  animation-timing-function: linear;
}

.crank_middle {
  animation: crank_middle $engine-time infinite;
  animation-timing-function: linear;
}

.displacer_crank_arm {
  animation: displacer_crank_arm $engine-time infinite;
  animation-timing-function: linear;
}

#displacer_crank_middle {
  animation: displacer_crank_middle $engine-time infinite;
  animation-timing-function: linear;
}

#displacer_piston {
  animation: displacer_piston $engine-time infinite;
  animation-timing-function: linear;
}

#displacer_piston_shaft {
  animation: displacer_crank_middle $engine-time infinite;
  animation-timing-function: linear;
}

#power_piston_air {
  animation: power_piston_air $engine-time infinite;
  animation-timing-function: linear;
}

#power_piston {
  animation: power_piston $engine-time infinite;
  animation-timing-function: linear;
}

#power_piston_shaft {
  animation: power_piston_shaft $engine-time infinite;
  animation-timing-function: linear;
}

@keyframes cold_air {
  0% {
    height: 80px;
  }
  25% {
    height: 50px;
  }
  50% {
    height: 80px;
  }
  75% {
    height: 120px;
  }
  100% {
    height: 80px;
  }
}

@keyframes crank_arm {
  0% {
    height: 40px;
  }
  25% {
    height: 0;
    transform: translateY(0px);
  }
  50% {
    height: 40px;
    transform: translateY(-40px);
  }
  75% {
    height: 0;
    transform: translateY(0px);
  }
  100% {
    height: 40px;
  }
}

@keyframes crank_middle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes displacer_crank_arm {
  0% {
    height: 0;
  }
  25% {
    height: 40px;
    transform: translateY(-40px);
  }
  50% {
    height: 0;
    transform: translateY(0px);
  }
  75% {
    height: 40px;
  }
  100% {
    height: 0;
  }
}

@keyframes displacer_crank_middle {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes displacer_piston {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes power_piston_air {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes power_piston {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes power_piston_shaft {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}
